@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.brand{
  display: flex;
  margin-top: 1em;
}

.logo{
  font-size: 2em;
  font-weight: 800;
  max-width: 300px;
  margin-left: 2em;
  display: block;
  color: #004FFF;
  line-height: 24px;
}

nav{
  display: flex;
}

.nav-menu{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}

ul{
  list-style: none;
  display: flex;
  margin-right: 2em;
}

li a{
  text-decoration: none;
  display: block;
  padding: 1.2em;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
}

li a span::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #004FFF;
  transition: width .2s ease-in-out;
}

li a span:hover::after{
  width: 100%;
}

.container{
  height: 76vh;
  margin: 0 auto;
}

.container-intra{
  width: 80vw;
  margin: 0 auto;
  margin-top: 40px;
}

.big-title{
  font-size: 80px;
}

form{
  width: 30vw;
  margin: 64px auto 0 auto;
  background-color: #EAEAEA;
  padding: 24px 64px;
  display: flex;
  flex-direction: column;
}

label{
  display: inline-block;
  width: 100%;
  font-size: 1em;
  margin-bottom: 8px;
  margin-left: 16px;
  font-weight: bold;
}

input::placeholder{
  color: #C3C3C3;
  font-size: .9em;
}

.form-input{
  border : 0px;
  outline: 0;
  padding: 16px;
  width: 100%;
  border-radius: 100000000px;
  transition: all .4s ease-in-out;
}

.form-input:focus{
  box-shadow: 0px 0px 20px rgba(0, 255, 140, 0.2);
}


.form-group{
  margin-top: 32px;
  width: 100%;
}

.btn-group{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn{
  margin-top: 2em;
  border-radius: 200000px;
  border: 0;
  text-transform: uppercase;
  padding: 16px;
  font-size: .9em;
  font-weight: bold;
  color: white;
  background-color: #00FF8E;
  box-shadow: 0px 24px 32px rgba(0, 255, 140, 0.4);
  width: 150px;
  margin-left: 32px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.btn:hover{
  filter: grayscale(40%);
  transform: translateY(-16%);
}

.button-row{
  display: flex;
  justify-content: center;
}

.btn-card{
  margin-top: 2em;
  border-radius: 200000px;
  border: 0;
  text-transform: uppercase;
  padding: 16px;
  font-size: .9em;
  font-weight: bold;
  color: white;
  width: 150px;
  transition: all .2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.card-32{
  background-color: #004FFF;
}

.card-52{
  background-color: #FFCF00;
  margin-left: 40px;
}

.card-32:hover{
  filter: grayscale(40%);
  box-shadow: 0px 16px 32px rgba(0, 80, 255, 0.4);
  transform: translateY(-16%);
}

.card-52:hover{
  filter: grayscale(40%);
  box-shadow: 0px 16px 32px rgba(255, 205, 0, 0.4);
  transform: translateY(-16%);
}

.reset-group{
  margin-right: 32px;
  transition: all .2s ease-in-out;
}

.btn-reset{
  background: transparent;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  font-size: .7em;
}

.reset-group:hover{
  cursor: pointer;
  transform: translateX(-8px);
}


footer{
  height: 96px;
  width: 100%;
  background-color: #F3F3F3;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3{
  margin: 0;
  padding: 0;
}

.meme-home{
  position: absolute;
  bottom: 17%;
  left: 50%;
}

.meme-news{
  position: absolute;
  bottom: 16.5%;
  left: 0%;
}